h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  color: hsl(88, 71%, 86%);
  font-size: 60pt;
  -webkit-text-stroke: 3px;
  -webkit-text-stroke-color: rgba(33, 7, 7, 0.863);

}

#chinook {
  background-color: white;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 100px;
  padding: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(33, 7, 7, 0.863);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: hsl(87, 44%, 95%);
}

a:link {
  color: whitesmoke;
  text-decoration: none
}

a:hover {
  color: transparent;
}

body {
  background-color: salmon;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: hsl(87, 44%, 95%)
}

#about-us {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#family {
  margin-top: 20px;
  width: 400px;
  display: flex;
  align-self: center;
  border-radius: 25px;
  border: 3px solid;
  border-color: rgba(33, 7, 7, 0.863);
}

#about-text {
  display: flex;
  align-self: center;
  margin-top: 20px;
  height: 100px;
  max-width: 600px;
  text-align: center;
  line-height: 1.6;
}
#production {
  width: 100%;
  display: flex;
  justify-content: center;  
}
#cutter {
  height: 200px;
  margin-top: 50px;
  border-radius: 50%;
  border: 4px solid;
  border-color: rgba(33, 7, 7, 0.863);
}
#text-bub1, #text-bub2 {
  display: flex;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: hsl(88, 71%, 86%);
  color: rgba(33, 7, 7, 0.863);
  border: 4px solid;
  border-color: rgba(33, 7, 7, 0.863);
  align-items: center;
  align-self: center;
  text-align: center;
  line-height: 1.6;
}
#deco-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
#deco {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 100px;
  border-radius: 50%;
  border: 4px solid;
  border-color: rgba(33, 7, 7, 0.863);
}

#merch {
  width: 100%;
  display: flex;
  justify-content: center;
  
}



#fish-print {
  width: 300px;
  display: flex;
  text-align: left;
}

#gyotaku {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 200px;
  display: flex;
  border-radius: 50%;
  border: 4px solid;
  border-color: rgba(33, 7, 7, 0.863);
}


footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
}

#fish {
  padding-left: 10px;
  padding-right: 10px;
  height: 100px
}